{% extends "base.html" %}
{% load static %}
{% block title %}All Data Test{% endblock title %}

{% block content %}
<style>
.container {
  z-index: 0;
  position: relative;
  top: 150px;
  left: -50px;
  display: flex;
  align-items: center;
  width: 1080px;
  height: 400px;
  overflow: hidden;
  background: url("https://i.loli.net/2020/05/13/OJYTLba8CQweWIq.png") no-repeat;
  background-size: cover;
}
.container .logos {
  display: flex;
  align-items: center;
  width: 400px;
  height: 320px;
  overflow: hidden;
  border-radius: 0 200px 200px 0;
  background: radial-gradient(166.55% 283.86% at -39.88% 50%, rgba(255, 255, 255, 0) 65.64%, rgba(0, 238, 255, 0.48) 99%);
}
.container .logos .logos-wrap img {
  height: 40px;
}
.container .logos .logos-wrap .box {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 30px;
}
.container .logos .logos-wrap .box:last-child {
  margin: unset;
}
.container .shenzhi-logo {
  position: relative;
  left: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  box-shadow: 0px 0px 40px rgba(164, 168, 197, 0.24);
  background-color: white;
}
.container .shenzhi-logo img {
  z-index: 99;
  width: 60px;
}
.container .account {
  position: relative;
  left: 90px;
}
.container .lines {
  position: absolute;
  width: 482px;
  height: 100%;
  z-index: -1;
  left: 423px;
  top: 107px;
}
.container .lines .line-1 svg {
  position: absolute;
}
.container .lines .line-1 svg:nth-of-type(3) {
  position: absolute;
  right: 0;
  top: 1px;
}
.container .lines .line-2 {
  position: absolute;
  top: -49px;
}
.container .lines .line-2 svg {
  position: absolute;
}
.container .lines .line-3 {
  position: absolute;
  top: 40px;
}
.container .lines .line-3 svg {
  position: absolute;
}
.container .lines .line-3 svg:nth-of-type(3) {
  position: relative;
  right: -89%;
  top: 87px;
}

.results {
  position: absolute;
  right: 150px;
  z-index: 99;
}
.results .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(164, 168, 197, 0.4);
  border-radius: 59px;
  margin-bottom: 38px;
}
.results .icon::after {
  position: absolute;
  right: -100%;
  content: "";
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #3b426b;
}
.results .icon:last-child {
  margin-bottom: unset;
}
.results .icon:nth-of-type(1)::after {
  content: "  DemandAgent";
}
.results .icon:nth-of-type(2)::after {
  content: "  ResourceAgent";
  right: -63px;
}
.results .icon:nth-of-type(3)::after {
  content: "  ProductAgent";
}
.results .icon:nth-of-type(4)::after {
  content: "HumanAgent";
  right: -53px;
}

#line-1 {
  stroke-dasharray: 60, 600;
  stroke-dashoffset: 24;
  -webkit-animation: line1 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
          animation: line1 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
}
@-webkit-keyframes line1 {
  to {
    stroke-dashoffset: -620;
  }
}
@keyframes line1 {
  to {
    stroke-dashoffset: -620;
  }
}

#line-2 {
  stroke-dasharray: 60, 600;
  stroke-dashoffset: 24;
  -webkit-animation: line2 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite 0.6s;
          animation: line2 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite 0.6s;
}
@-webkit-keyframes line2 {
  to {
    stroke-dashoffset: -620;
  }
}
@keyframes line2 {
  to {
    stroke-dashoffset: -620;
  }
}

#line-3 {
  stroke-dasharray: 60, 600;
  stroke-dashoffset: 24;
  -webkit-animation: line3 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite 0.2s;
          animation: line3 3s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite 0.2s;
}
@-webkit-keyframes line3 {
  to {
    stroke-dashoffset: -620;
  }
}
@keyframes line3 {
  to {
    stroke-dashoffset: -620;
  }
}

.container .shenzhi-logo {
  -webkit-animation: ripple 0.8s linear infinite;
          animation: ripple 0.8s linear infinite;
}
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(71, 198, 230, 0), 0 0 0 40px rgba(71, 198, 230, 0.18);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(71, 198, 230, 0.18), 0 0 0 60px rgba(71, 198, 230, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(71, 198, 230, 0), 0 0 0 40px rgba(71, 198, 230, 0.18);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(71, 198, 230, 0.18), 0 0 0 60px rgba(71, 198, 230, 0);
  }
}
@-webkit-keyframes scale {
  50% {
    transform: scale(1.15);
  }
  0%, 100% {
    transform: scale(1);
  }
}
@keyframes scale {
  50% {
    transform: scale(1.15);
  }
  0%, 100% {
    transform: scale(1);
  }
}
.container .shenzhi-logo::after {
  z-index: 0;
  border-radius: 100%;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 40px rgba(164, 168, 197, 0.24);
  background-color: white;
  transform: scale(1);
  -webkit-animation: scale 2.5s linear infinite;
          animation: scale 2.5s linear infinite;
}

.logos-1 {
  transition: all 0.2s ease;
  position: relative;
  margin-right: 20px;
  will-change: transform;
  -webkit-animation: logosMoving 10s linear infinite both 1s;
          animation: logosMoving 10s linear infinite both 1s;
}
@-webkit-keyframes logosMoving {
  to {
    transform: translateX(105%);
  }
}
@keyframes logosMoving {
  to {
    transform: translateX(105%);
  }
}

.logos-2 {
  transition: all 0.2s ease;
  will-change: transform;
  -webkit-animation: logosMoving 10s linear infinite both 1s;
          animation: logosMoving 10s linear infinite both 1s;
}

.logos-wrap {
  position: relative;
  left: -100%;
}

.logoShow {
  -webkit-animation: logoShow 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards 0.2s;
          animation: logoShow 0.4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards 0.2s;
}
@-webkit-keyframes logoShow {
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    filter: blur(0);
  }
}
@keyframes logoShow {
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
    filter: blur(0);
  }
}

.logos-wrap img {
  opacity: 0;
  transform: scale3d(0, 0, 0);
  filter: blur(20px);
  transition: all 0.3s ease-out;
  margin: 4px 14px;
  will-change: transform;
}

.rule {
  position: absolute;
  z-index: 99;
  right: 180px;
}
.rule img {
  z-index: 99;
  width: 94px;
  top: 4px;
  right: -67px;
}
.rule div:nth-of-type(1) {
  position: relative;
  right: 100px;
  top: -40px;
}
.rule div:nth-of-type(1)::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #f88787 100%);
  position: absolute;
  transform: scale(0);
  -webkit-animation: popShow3 4s cubic-bezier(0.5, 1, 0.89, 1) infinite;
          animation: popShow3 4s cubic-bezier(0.5, 1, 0.89, 1) infinite;
}
@-webkit-keyframes popShow3 {
  80% {
    opacity: 0;
    transform: scale(0);
  }
  91% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(2.4);
  }
}
@keyframes popShow3 {
  80% {
    opacity: 0;
    transform: scale(0);
  }
  91% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
    transform: scale(2.4);
  }
}
.rule div:nth-of-type(1)::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #f88787 100%);
  position: absolute;
  transform: scale(0);
  -webkit-animation: popShow 4s cubic-bezier(0.5, 1, 0.89, 1) infinite 0.2s;
          animation: popShow 4s cubic-bezier(0.5, 1, 0.89, 1) infinite 0.2s;
}
@-webkit-keyframes popShow {
  80% {
    opacity: 0;
    transform: scale(0);
  }
  91% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
@keyframes popShow {
  80% {
    opacity: 0;
    transform: scale(0);
  }
  91% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
.rule div:nth-of-type(2) {
  position: relative;
  right: 125px;
  top: -90px;
}
.rule div:nth-of-type(2)::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #2e2e2e 100%);
  position: absolute;
  transform: scale(0);
  -webkit-animation: popShow2 4s cubic-bezier(0.5, 1, 0.89, 1) infinite 0.35s;
          animation: popShow2 4s cubic-bezier(0.5, 1, 0.89, 1) infinite 0.35s;
}
@-webkit-keyframes popShow2 {
  80% {
    opacity: 0;
    transform: scale(0);
  }
  91% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    transform: scale(2.4);
  }
}
@keyframes popShow2 {
  80% {
    opacity: 0;
    transform: scale(0);
  }
  91% {
    opacity: 0.1;
  }
  100% {
    opacity: 0;
    transform: scale(2.4);
  }
}
.rule div:nth-of-type(2)::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  border-radius: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #2e2e2e 100%);
  position: absolute;
  transform: scale(0);
  -webkit-animation: popShow 4s cubic-bezier(0.5, 1, 0.89, 1) infinite 0.6s;
          animation: popShow 4s cubic-bezier(0.5, 1, 0.89, 1) infinite 0.6s;
}
@keyframes popShow {
  80% {
    opacity: 0;
    transform: scale(0);
  }
  91% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.rule-2 {
  position: absolute;
}

.rule-1 {
  position: absolute;
}

.box-1,
.box-3 {
  left: -20%;
  position: relative;
}

.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}
</style>

<div class="container">
      <div class="logos">
        <div class="logos-wrap logos-1">
          <div class="box-3 box">
            <img src="{% static 'interrupted.png' %}" alt="" class="logoShow" />
            <img src="{% static 'prediction.png' %}" alt="" class="logoShow" />
            <img src="{% static 'costcalculate.png' %}" alt="" class="logoShow" />
          </div>
        </div>
        <div class="logos-wrap logos-2">
          <div class="box-1 box">
            <img src="{% static 'reducecost.png' %}" alt="" class="logoShow" />
            <img src="{% static 'report.png' %}" alt="" class="logoShow" />
            <img src="{% static 'optimization.png' %}" alt="" class="logoShow" />
          </div>
        </div>
      </div>
      <div class="shenzhi-logo">
        <img src="{% static 'costmanager.png' %}" alt="" />
      </div>
      <div class="account">
        <svg width="110" height="213" viewBox="0 0 110 213" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="110" height="44" rx="4" fill="#7A78EE" />
          <path d="M24 12C18.579 12 14 16.579 14 22C14 27.421 18.579 32 24 32C29.421 32 34 27.421 34 22C34 16.579 29.421 12 24 12ZM24 17C25.727 17 27 18.272 27 20C27 21.728 25.727 23 24 23C22.274 23 21 21.728 21 20C21 18.272 22.274 17 24 17ZM18.894 26.772C19.791 25.452 21.287 24.572 23 24.572H25C26.714 24.572 28.209 25.452 29.106 26.772C27.828 28.14 26.015 29 24 29C21.985 29 20.172 28.14 18.894 26.772Z" fill="white" />


          <rect y="85" width="110" height="44" rx="4" fill="#484F65" />
          <path d="M24 97C18.579 97 14 101.579 14 107C14 112.421 18.579 117 24 117C29.421 117 34 112.421 34 107C34 101.579 29.421 97 24 97ZM24 102C25.727 102 27 103.272 27 105C27 106.728 25.727 108 24 108C22.274 108 21 106.728 21 105C21 103.272 22.274 102 24 102ZM18.894 111.772C19.791 110.452 21.287 109.572 23 109.572H25C26.714 109.572 28.209 110.452 29.106 111.772C27.828 113.14 26.015 114 24 114C21.985 114 20.172 113.14 18.894 111.772Z" fill="white" />


          <rect y="169" width="110" height="44" rx="4" fill="#F88787" />
          <path d="M24 181C18.579 181 14 185.579 14 191C14 196.421 18.579 201 24 201C29.421 201 34 196.421 34 191C34 185.579 29.421 181 24 181ZM24 186C25.727 186 27 187.272 27 189C27 190.728 25.727 192 24 192C22.274 192 21 190.728 21 189C21 187.272 22.274 186 24 186ZM18.894 195.772C19.791 194.452 21.287 193.572 23 193.572H25C26.714 193.572 28.209 194.452 29.106 195.772C27.828 197.14 26.015 198 24 198C21.985 198 20.172 197.14 18.894 195.772Z" fill="white" />

        </svg>
      </div>
      <div class="lines">
        <div class="line-1">
          <svg width="481" height="235" viewBox="0 0 481 235" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.7" d="M0 93H26.9475C34.3831 93 41.5536 90.2387 47.0687 85.2517L123.931 15.7483C129.446 10.7613 136.617 8 144.052 8H293.795C304.982 8 315.24 14.2247 320.406 24.1479L417.594 210.852C422.76 220.775 433.018 227 444.205 227H481" stroke="#8684FF" stroke-width="16" />
          </svg>
          <svg id="line-1" width="481" height="235" viewBox="0 0 481 235" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="1" d="M0 93H26.9475C34.3831 93 41.5536 90.2387 47.0687 85.2517L123.931 15.7483C129.446 10.7613 136.617 8 144.052 8H293.795C304.982 8 315.24 14.2247 320.406 24.1479L417.594 210.852C422.76 220.775 433.018 227 444.205 227H481" stroke="#8684FF" stroke-width="16" />
          </svg>
          <svg width="260" height="55" viewBox="0 0 260 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.7" d="M0 8H79.4107C81.9382 8 84.4511 8.38328 86.8636 9.13676L203.729 45.6359C206.624 46.5401 209.64 47 212.673 47H259.5" stroke="#8684FF" stroke-width="16" />
          </svg>
        </div>
        <div class="line-2">
          <svg width="482" height="151" viewBox="0 0 482 151" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.6" d="M0 142.5H301.522C310.383 142.5 318.791 138.582 324.491 131.798L419.509 18.7022C425.209 11.9176 433.617 8 442.478 8H482" stroke="#323232" stroke-width="16" />
          </svg>
          <svg id="line-2" width="482" height="151" viewBox="0 0 482 151" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.6" d="M0 142.5H301.522C310.383 142.5 318.791 138.582 324.491 131.798L419.509 18.7022C425.209 11.9176 433.617 8 442.478 8H482" stroke="#323232" stroke-width="16" />
          </svg>
        </div>
        <div class="line-3">
          <svg width="480" height="144" viewBox="0 0 480 144" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3" d="M0 53.5H36.5736C44.5301 53.5 52.1607 56.6607 57.7868 62.2868L122.213 126.713C127.839 132.339 135.47 135.5 143.426 135.5H303.596C312.415 135.5 320.787 131.62 326.487 124.89L416.513 18.6096C422.213 11.8804 430.585 8 439.404 8H480" stroke="#FF0000" stroke-width="16" />
          </svg>
          <svg id="line-3" width="480" height="144" viewBox="0 0 480 144" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3" d="M0 53.5H36.5736C44.5301 53.5 52.1607 56.6607 57.7868 62.2868L122.213 126.713C127.839 132.339 135.47 135.5 143.426 135.5H303.596C312.415 135.5 320.787 131.62 326.487 124.89L416.513 18.6096C422.213 11.8804 430.585 8 439.404 8H480" stroke="#FF0000" stroke-width="16" />
          </svg>
          <svg width="254" height="56" viewBox="0 0 254 56" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.3" d="M0.5 48.0001H79.6109C82.3346 48.0001 85.04 47.555 87.6201 46.6824L197.325 9.5812C200.421 8.53411 203.667 8 206.936 8H253.403" stroke="#FF0000" stroke-width="16" />
          </svg>
        </div>
      </div>
      <div class="results">
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.7">

            </g>
          </svg>
        </div>
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.7">

            </g>
          </svg>
        </div>
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.6">

            </g>
          </svg>
        </div>
        <div class="icon">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g opacity="0.7">
            </g>
          </svg>
        </div>
      </div>
    </div>
  </div>

<script>
    const logosWrap = document.querySelectorAll(".logos-wrap");
const line3 = document.querySelector("#line-3");
const rule = document.querySelector(".rule");
const rules = rule.querySelectorAll("div");
let targets = [];

logosWrap.forEach((item) => {
  targets.push(item.querySelectorAll("img"));
  return targets;
});

const options = {
  root: document.querySelector(".logos"),
  rootMargin: "0px",
  threshold: 1
};

const observerImg = () => {
  const callback = (e) => {
    e.forEach((i) => {
      if (i.intersectionRatio <= 0) {
        i.target.classList.remove("logoShow");
      }
      if (i.isIntersecting) {
        i.target.classList.add("logoShow");
      }
    });
  };

  const observer = new IntersectionObserver(callback, options);

  targets.forEach((item) => {
    item.forEach((i) => {
      observer.observe(i);
    });
  });
};

window.onload = observerImg;
</script>
{% endblock content %}