{% extends "base.html" %}

{% block title %}Add Data{% endblock title %}

{% block sidenav %}
        <h1>  </h1>
        <h1>  </h1>
        <h1>  </h1>
        {% load static %}

        <img src="{% static 'innocam.png' %}" class="card-img-bottom" alt="My image">

        <li><i class="bi bi bi-coin"></i> <a href="/overview">Overview</a></li>
        <li><i class="bi bi bi-coin"></i> <a href="/coagent">Coordinator Agent</a></li>
        <li><i class="bi bi-table"></i> <a href="/dataagent">Cost Agent</a></li>
        <li><i class="bi bi-bar-chart"></i> <a href="/prediction">Demand Agent</a></li>
        <li><i class="bi bi-speedometer"></i> <a href="/evaluation">Evaluation</a></li>
        <li><i class="bi bi-speedometer"></i> <a href="/resourceagent">Resource Agent</a></li>
        <li><i class="bi bi-speedometer"></i> <a href="/prodagent">Product Agent</a></li>
        <li><i class="bi bi-speedometer"></i> <a href="/chatbot">Chatbot</a></li>
        <li><i class="bi bi-speedometer"></i> <a href="/prescription">Cost Result</a></li>
{% endblock sidenav %}

{% block content %}

<section id="main">
    <h1>Add Data</h1>


    <form method="POST" enctype="multipart/form-data">
     
        <!-- Security token -->
        {% csrf_token %}
     
        <!-- Using the formset -->
        {{ form.as_p }}
         
        <input type="submit" value="Submit">
    </form>
</section>

{% endblock content %}