
{% extends "data/data_form.html" %}
{% load static %}
{% block title %}All Data Test{% endblock title %}

{% block content %}

<style>
    .blue-arrow {
      color: blue;
      font-size: 3rem;
    }
    .size1 {
      font-size: 3rem;
    }
</style>
<div class="container">

  <div class="row">
      <div class="col">
        <div class="card" style="height: 800px;">
          <div class="card-header" style="color:black;font-size:25px;text-align: center;">Overview</div>
          <div class="card-body">
            <div class="container">
              <div class="row gy-4">
                    <div class="col col-4 justify-content-center" style="position: absolute; top: 350px; left: 0px;">
                      <a href="/chatbot" class="btn btn-primary btn-lg px-4">Chatbot Agent</a>
                    </div>
                    <i class="bi bi-arrow-right blue-arrow size1" style="position: absolute; top: 340px; left: 190px;"></i>
                    <i class="bi bi-arrow-right blue-arrow size1" style="position: absolute; top: 340px; left: 500px;"></i>
                    <i class="bi bi-arrow-right blue-arrow size1" style="position: absolute; top: 340px; left: 800px;"></i>
                    <i class="bi bi-arrow-up blue-arrow size1" style="position: absolute; top: 280px; left: 680px;"></i>
                    <i class="bi bi-arrow-up-left blue-arrow size1" style="position: absolute; top: 280px; left: 580px;"></i>
                    <i class="bi bi-arrow-up-right blue-arrow size1" style="position: absolute; top: 280px; left: 780px;"></i>
                    <i class="bi bi-arrow-down blue-arrow size1" style="position: absolute; top: 450px; left: 380px;"></i>
                    <i class="bi bi-arrow-down-right blue-arrow size1" style="position: absolute; top: 420px; left: 480px;"></i>
                    <div class="col col-4 justify-content-center" style="position: absolute; top: 350px; left: 250px;">
                      <a href="/add" class="btn btn-primary btn-lg px-4">Coordinate Agent</a>
                    </div>
                    <div class="col col-4 justify-content-center" style="position: absolute; top: 550px; left: 350px;">
                      <a href="#" class="btn btn-primary btn-lg px-4">Human Agent</a>
                    </div>
                    <div class="col col-4 justify-content-center" style="position: absolute; top: 500px; left: 600px;">
                      <a href="/prediction" class="btn btn-primary btn-lg px-4">Demand predictive Agent</a>
                    </div>
                    <div class="col col-4 justify-content-center" style="position: absolute; top: 350px; left: 600px;">
                      <a href="/prodAgent" class="btn btn-primary btn-lg px-4">Product Agent</a>
                    </div>
                    <div class="col col-4 justify-content-center" style="position: absolute; top: 200px; left: 400px;">
                      <a href="/map" class="btn btn-primary btn-lg px-4">Resource Agent</a>
                    </div>
                    <div class="col col-4 justify-content-center" style="position: absolute; top: 200px; left: 600px;">
                      <a href="/map" class="btn btn-primary btn-lg px-4">Resource Agent</a>
                    </div>
                    <div class="col col-4 justify-content-center" style="position: absolute; top: 200px; left: 800px;">
                      <a href="/map" class="btn btn-primary btn-lg px-4">Resource Agent</a>
                    </div>
                    <div class="col col-4 justify-content-center" style="position: absolute; top: 350px; left: 900px;">
                      <a href="/" class="btn btn-primary btn-lg px-4">Cost Monitoring Agent</a>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>

</div>
{% endblock content %}