{% load static %}
<html>
<head>
  <meta charset="utf-8">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
  <script src="{% static 'gauge.min.js' %}"></script>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'cardconfig.css' %}">

</head>

<body>
<div id="wrapper">
  <aside id="leftsidebar">
    <nav id="nav">
      <ul>
        {% block sidenav %}
        <br>

        <img src="{% static 'innocam.png' %}" class="card-img-bottom" alt="My image">

        <li><i class="bi bi bi-coin"></i> <a href="/overview">Overview</a></li>
        <li><i class="bi bi-chat-left-text-fill"></i> <a href="/chatbot">UI Agent</a></li>
        <li><i class="bi bi bi-android2"></i> <a href="/coagent">LLM Agent</a></li>
        <li><i class="bi bi-bar-chart"></i> <a href="/prediction">Demand Agent</a></li>
        <li><i class="bi bi-person-fill"></i> <a href="/dataagent">Human Agent</a></li>
        <li><i class="bi bi-speedometer"></i> <a href="/resourceagent">Resource Agent</a></li>
        <li><i class="bi bi-puzzle-fill"></i> <a href="/prodagent">Product Agent</a></li>
        <li><i class="bi bi-coin"></i> <a href="/prescription">Cost Result</a></li>
        <li><i class="bi bi-gear-fill"></i> <a href="/floorplan">Configuration</a></li>
        <li><i class="bi bi-gear-fill"></i> <a href="/ontologydesign">Ontology Design</a></li>
        <li><i class="bi bi-gear-fill"></i> <a href="/ontologysim">Simulation</a></li>
        <li><i class="bi bi-gear-fill"></i> <a href="/ontologysimkpis">Simulation KPIs</a></li>
        {% endblock sidenav %}
      </ul>
    </nav>
  </aside>


    {% block content %}

    {% endblock content %}
</div>
</body>
</html>